.sidebar {
  flex: 1;
  height: 100vh;
  padding: 2em;
  border-right: 1px solid black
}

.logo {
  display: flex;
}

.logo img {
  margin: 0 auto;
  border-radius: 5em;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  margin-bottom: 0.5em;
}
