.sidebar {
  flex: 1;
  height: 100vh;
  padding: 2em;
  text-align: center;
  position: relative;
  transition: margin-left 0.5s ease-out;
}

.sidebarHidden {
  margin-left: -23%;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  margin-bottom: 0.5em;
}

.about {
  text-align: left;
}
