.container {
  display: flex;
  flex-direction: column;
  max-width: 18em;
  margin: 2em auto;
}

.container h1 {
  text-align: center;
}

.input {
  background-color: #F0F0F0;
  margin-bottom: 0.5em;
  padding: 0.5em 1em;
}

.button {
  background: #DE6B5F;
  color: white;
  padding: 0.5em;
  width: 100%;
  align-self: center;
}

.input, .button {
  font-family: 'Lato';
  border: none;
  font-size: 1em;
  outline: none;
}

.error {
  font-size: 0.8em;
  text-align: center;
  color: red;
}
