body {
  text-align: center;
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  /*background-color: #282C34;
  color: #ABB2B6;*/
}

ul li {
  list-style: none;
  text-align: left;
}

li p {
  margin-left: 1em;
}

h1, h2, h3, .strong {
  color: #DE6B5F;
}

h1 {
  font-size: 4em;
  font-weight: 300;
}

.strong {
  font-weight: 600;
  font-size: 1.2em;
}

footer {
  font-size: 0.8em;
  color: darkgrey;
}
